<header class="pt-3">
  {{! for white: bg-white navbar-white }}
  <nav class="navbar navbar-expand-md bg-beige navbar-beige fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/raw.jpg" alt="{{company}} Logo" width="60" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-success" href="{{menu}}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catering">Catering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/our-story">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Visit Us</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <a
            href="{{menu}}"
            class="btn btn-danger"
            tabindex="-1"
            role="button"
            aria-disabled="true"
          >Order Online</a>
        </div>
      </div>
    </div>
  </nav>
</header>