<div class="sticky-top navbar-sticky-wrapper">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-plain">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="{{company}} Logo" width="30" />
                {{company}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <a class="p-2 text-light" href="/">home</a>
                    <a class="p-2 text-light" href="/menu" >menu</a>
                    <a class="p-2 text-light" href="/catering">catering</a>
                    <a class="p-2 text-light" href="/about">about</a>
                </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


