<div class="container">
    <h1 class="featurette-heading my-5">🛍️ {{title}}</h1>
    <p class="lead">
        We only select the coffee beans from premium coffee growers that guarantee an awesome roast for each order.
        Checkout out our premium coffee beans and learn how to prepare each type.
    </p>
    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Ethiopian <small>single origin</small></h4>
            <a href="/ethiopian">
                <img class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1527964275784-5ce8ddab3d8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                    alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Guatemala <small>single origin</small></h4>
            <a href="/guatemala">
                <img class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1459755486867-b55449bb39ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80"
                    alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Coming soon</h4 class="my-3">
            <a href="#">
                <img class="img-fluid rounded" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Coming soon</h4 class="my-3">
            <a href="#">
                <img class="img-fluid rounded" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div>
</div>