{{> header}}

{{> navbar}}

<div class="container">
    <h1 class="featurette-heading my-5">🛍️ {{title}}</h1>
    <p class="lead">
        Gallery images coming soon
    </p>
    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Coming soon</h4>
            <a href="#">
                <img class="img-fluid rounded"
                    src="http://placehold.it/500x300"
                    alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Coming soon</h4>
            <a href="/guatemala">
                <img class="img-fluid rounded"
                    src="http://placehold.it/500x300"
                    alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Coming soon</h4 class="my-3">
            <a href="#">
                <img class="img-fluid rounded" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Coming soon</h4 class="my-3">
            <a href="#">
                <img class="img-fluid rounded" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div>
</div>

{{> footer}}