{{> header}}
{{> navbar}}
<link rel="preload" href="/images/food/menu-baklava.jpg" as="baklava">
<link rel="preload" href="/images/food/menu-flatbread-cheese.jpg" as="baklava">

<div class="container">
    <h1 class="featurette-heading my-5">🛍️ {{title}}</h1>
    <p class="lead">
        A Taste of Tradition, Captured in Every Bite
    </p>
    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Baklava</h4>
            <img class="img-fluid rounded"
                src="/images/food/menu-baklava.webp"
                alt="Baklava Dessert" loading="lazy">
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Cheese Flatbread</h4>
            <img class="img-fluid rounded"
                src="/images/food/menu-flatbread-cheese.jpg"
                alt="Cheese Flatbread" loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Meat Flatbread</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-flatbread-meat.jpg" 
                alt="Meat Flatbread"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Chicken Shawarma Flatbread</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-flatbread-shawarma.jpg" 
                alt="Chicken Shawarma Flatbread"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Vegetable Flatbread</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-flatbread-veggie.jpg" 
                alt="Vegetable Flatbread"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Zaatar Flatbread</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-flatbread-zaatar.jpg" 
                alt="Zaatar Flatbread"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Beef Kabob Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-beefkabob.jpg" 
                alt="Beef Kabob Plate">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Beef Tikka Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-beeftikka.jpg" 
                alt="Beef Tikka Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Chicken Tikka Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-chickentikka.jpg" 
                alt="Chicken Tikka Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Cream Chop Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-creamchop.jpg" 
                alt="Cream Chop Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Falafel Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-falafel.jpg" 
                alt="Falafel Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Chicken Kabab Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-chickenkabab.jpg" 
                alt="Chicken Kabab Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Chicken Shawarma Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-shawarma.jpg" 
                alt="Chicken Shawarma Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Tigris Fries</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-tigrisfries.jpg" 
                alt="Tigris Fries"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Vegetable Plate</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-plate-veggie.jpg" 
                alt="Vegetable Plate"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Apple Walnut Salad</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-salad-applewalnut.jpg" 
                alt="Apple Walnut Salad"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Greek Salad</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-salad-greek.jpg" 
                alt="Greek Salad"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Tigris Salad</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-salad-tigris.jpg" 
                alt="Tigris Salad"  loading="lazy">
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Baba Ghanoug Side</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-side-babaghanoug.jpg" 
                alt="Baba Ghanoug Side"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Hummus Side</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-side-hummus.jpg" 
                alt="Hummus"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Beef Kabab Sandwich</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-sandwich-beefkabab.webp" 
                alt="Beef Kabab Sandwich"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Beef Tikka Sandwich</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-sandwich-beeftikka.webp" 
                alt="Beef Tikka Sandwich"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Chicken Tikka Sandwich</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-sandwich-chickentikka.webp" 
                alt="Chicken Tikka Sandwich"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Cream Chop Sandwich</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-sandwich-creamchop.webp" 
                alt="Cream Chop Sandwich"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Falafel Sandwich</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-sandwich-falafel.webp" 
                alt="Falafel Sandwich"  loading="lazy">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h4 class="my-3">Chicken Shawarma Sandwich</h4 class="my-3">
            <img class="img-fluid rounded" 
                src="/images/food/menu-sandwich-shawarma.webp" 
                alt="Chicken Shawarma Sandwich"  loading="lazy">
        </div>
    </div>
</div>

{{> footer}}