<div class="container">
    <center>
        <h1 class="featurette-heading my-5">Our Mission</h1>
        <p class="lead">
            To bring happiness through delicious food to the local neighborhood!
        </p>
    </center>
    <hr class="featurette-divider">
    <center>
        <h2 class="featurette-heading my-4">About Us</h2>
    </center>
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <p class="lead">At {{company}},</p>

                <p class="lead">The interests of our customers are always top priority for us, so we hope you will enjoy
                    our
                    products as much as we enjoy making them available to you.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="./images/MISSING.jpg" />
            </div>
        </div>
    </div>
</div>